*.o
*.so
*.so.*
*.dll
*.def
config.mak
config.h
config.log
.depend
*~
*.cxx
demo/*.dv
demo/*.mpeg
demo/*.ogg
demo/photos
docs/html/*
releases/*
patches/*
src/melt/melt
src/modules/lumas/luma
src/modules/lumas/NTSC/*.pgm
src/modules/lumas/PAL/*.pgm
src/modules/lumas/16_9/*.pgm
src/modules/lumas/9_16/*.pgm
src/modules/lumas/square/*.pgm
src/modules/lumas/.executed
src/swig/csharp/src_swig/*
src/swig/perl/blib/*
*.dylib
src/swig/java/src_swig
disable-*
mlt.config
mlt.creator
mlt.files
mlt.includes
mlt-config
*.pc
packages.dat
make.inc
src/examples/play
*.dot
*.rej
.project
*.qmake.stash
src/tests/Makefile
src/tests/*/*
!src/tests/*/*.cpp
!src/tests/*/*.pro
*CTestTestfile.cmake
src/tests/test_*_autogen
build*
*cmake_install.cmake
.ninja_*
build.ninja
rules.ninja
CMakeCache.txt
*CMakeFiles/
Mlt7Config*.cmake
install_manifest.txt
out/
src/modules/qt/mltqt_autogen/
src/modules/qt/mltqt6_autogen/
src/modules/glaxnimate/mltglaxnimate_autogen/
src/modules/glaxnimate/mltglaxnimate-qt6_autogen/
.qt/
..clang-format.swp
out
src/swig/ruby/markdown/
CMakeLists.txt.user
.cache/

